@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.first-section{
    background-color: #1f2937 ;
    display:flex;
   /* justify-content: space-between;  */
   padding: 40px;
 
}  

#h-logo{
    font-size: 24px;
    color: #f9FAF8;
    width: 60vw;
}
.navbar-left{
   
    justify-content: center;
   
} 

.navbar-right{
    font-size: 18px; 
    color:#E5E7EB;
    display:flex;
    justify-content: space-around;
}

.h-link{
    color: #f9FAF8;
    margin :10px;
}

h1{
    font-size: 48px ;
    font-weight:bolder;
    color: #f9FAF8;

}
.content{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}
.content-right{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.content-left{
    
    width:40vw;
    
}
img{
    margin:40px;
}
.sub-content{
    margin: 0px;
    color: #f9FAF8;
}
.sign-up{
    background-color: #3882f6;
    color: white;
    width: 80px;
    height: 40px;
    border: 1px #3882f6 ;
    border-radius: 8px;
}
.second-section{
    margin: 20px;
}
.four-boxes{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
    margin-top: 16px;;
   
}
h2{
     font-size: 26px;
     font-weight: bolder;
     color: #1f2937;
     text-align: center;
}

.big-box{
     
     display: flex;
     flex-direction: column;
     align-items: center;
}
.box{
    width:100px;
    height:100px;
    border:3px solid#3882f6;
    padding:20px;
    border-radius:8px;
}
.para{
    /* text-align: center; */
    width:148px;
    font-size: 12px;
    align-self: flex-start;
    margin-left: 8px;
}
.third-section{
    background-color: #E5E7EB;
    height:300px;
    display: flex;;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 36px;
    font-weight: bolder;
    font-style: italic;
    color:#1F2937;

}
.para1{
    font-size: 26px;
    margin-left:300px;
}

.fourth-section{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.blue-box{
    background-color: #3882f6;
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: center;
    align-items: center;
    /* border:3px solid#3882f6; */
    /* padding:20px; */
    border-radius:8px;
}
.left{
    width:80%;
    margin-left: 80px;
    justify-content: center;
    flex-direction: column;
    
}
h4{
    font-size: 24px ;
    color: white;
}
.p-last{
    color: whitesmoke ;
    font-size: 12px;
}
.signup-last{
    color: white;
    background-color:#3882f6;
    border:2px solid white;
    padding:8px;
    width: 110px;
    border-radius:8px;
    margin-right: 100px;;
}
.footer{
    background-color: black;
    width: 100%;
    height: 100px;
    color: #E5E7EB;
    font-size: 15px ;
    font-weight: light;
    display: flex;
    justify-content: center;
    align-items: center;
}




